/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: text;
}

/* ТОЛЬКО критичные веса */
@font-face {
  font-family: "SF Pro";
  font-weight: 400;
  src: url(./assets/fonts/sfPro/SF-Pro-Display-Regular_6_11zon.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro";
  font-weight: 700;
  src: url(./assets/fonts/sfPro/SF-Pro-Display-Bold_2_11zon.woff) format("woff");
  font-display: swap;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: calc(100vw / (1440 / 10));
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: calc(100vw / (1280 / 10));
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: calc(100vw / (1024 / 10));
  }
}

@media only screen and (max-width: 414px) {
  html {
    font-size: calc(100vw / (414 / 10));
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: calc(100vw / (375 / 10));
  }
}